/* iOS places the subtitle above the title */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

:root{
    --ion-color-primary: #6209db;
    --ion-color-secondary: #00e59e;
    --ion-color-dark: #272727;
    --ion-color-medium: #f5f5f5;  
}

.paragraph{
    text-align: center;
    font-size: 10px;
    margin: 0 auto;
    padding: .3em;
    font-weight: 300;
}

.us-bold-purpleb{
    color: var(--ion-color-primary);
    font-weight: 700;
    
}

.us-purpleb{
    color: var(--ion-color-primary);
    font-weight: 300;
}



.main.title{
    color: white;
    font-family: 'Poppins';
}

.title{
    color: rgb(39, 39, 39);
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
}

.images{
    width: 80%;
}

.button {
    font-family: 'Poppins';
    font-weight: 500;
    padding: .3em;
    margin: 0 auto;
  }

.login{
    color: var(--ion-color-secondary);
}

.bg-img{
    background-color: white;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

ion-card-content.ios{
    font-family: 'Poppins';
    background-color: white;
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
    background-color: white;
    height: 100%;
    font-weight: 700;
  }
  
swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
